* {
	padding:0;
	margin:0;
	font-family:'Trebuchet MS';
}

body {
	background:#d5d5d5 url('../img/background.png') repeat-x;
	font-size:12pt;
}

h1 {
	font-size:15pt;
	padding:10px 50px 10px 10px;
	float:left;
	color:white;
}

#content input[type=radio] {
	margin-right:10px;
	margin-bottom:10px;
}

#advice input[type=text] {
	display:block;
	padding:5px;
	border:1px solid gray;
	-moz-border-radius:5px;
	font-size:12pt;
	display:block;
	clear:both;
}

#content input[type=text], #content input[type=password], #content textarea {
	display:block;
	padding:5px;
	border:1px solid gray;
	-moz-border-radius:5px;
	font-size:12pt;
	width:50%;
}

.deleteTag {
	background:#bce85d;
	border:1px solid #a9d24f;
	color:black;
	-moz-border-radius:5px;
	padding:2px 2px 2px 5px;
	cursor:pointer;
	white-space:nowrap;
	display:block;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}

.deleteTag a {
	text-decoration:none;
	color:black;
	padding:0px 3px;
	-moz-border-radius:5px;
	background:#a9d24f;
}

.deleteTag:hover {
	background:#a9d24f;
}

.deleteTag:hover a {
	background:#87aa3b;
}

#content textarea {
	height:100px;
}

.inputError {
	border:1px solid #8b4d59;
	background:#fae1e6;
}

#content input[type=submit], #content input[type=button], a#addTag, a#pagination {
	padding:5px 20px;
	background:#a24571;
	color:white;
	text-align:center;
	font-weight:bold;	
	-moz-border-radius:5px;
	border:none;	
	font-size:12pt;
	cursor:pointer;
	margin-right:10px;
	text-decoration:none;
}

a#addTag {
	display:block;
	margin-left:120px;
}

#content input[type=submit]:hover, #content input[type=button]:hover {
	background:#c34e80;	
}

.questions {
	background:#f0f5fb;
	border:5px solid #f0f5fb;
	padding:10px;
	-moz-border-radius:10px;
	margin-top:10px;
	margin-bottom:10px;
	list-style:none;
}

.questions h3, .questions h4 {
	color:#506a87;
	margin:5px 0;
}

.questions:hover {
	border:5px dashed #d4dfeb;
}

.answers {
	background:#d4dfeb;
	padding:10px;
	-moz-border-radius:10px;
	margin-top:10px;	
}

.last {
	padding:10px;
	-moz-border-radius:10px;
	margin-top:10px;	
	width:750px;
	border:5px dashed #d4dfeb;
}

.answers ul {
	list-style:none;
}

input[type=checkbox].correct {
	float:left;
	margin:10px 10px 0 10px;
}

#menu a img {
	border:none;
	margin-bottom:-2px;
}

#menu a {
	color:white;
	text-decoration:none;
	text-align:center;
}

#menu li a {
	padding:12px;
	color:white;
	display:block;
	text-decoration:none;
	min-width:50px;
}

#menu li a:hover {
	background:url('../img/highlight.png') center no-repeat;
}

#navigation li {
	display:block;
	float:left;
}

#menu .separator {
	background:url('../img/separator.png') no-repeat;
	width:1px;
	height:40px;
}

#user li {
	display:block;
	float:right;
}

#container {
	clear:both;
	padding:15px;
	background:white;
}

#advice h3 {
	font-size:15pt;
	color:#57607e;
	padding-bottom:10px;
}

#advice {
	width:250px;
	float:left;
}

#advice li {
	display:block;
	background:#dee6ef;
	padding:10px;
	margin-bottom:15px;
	-moz-border-radius:10px;
}

#content {
	margin-left:265px;
	padding:10px;
	padding-top:0;
}

#content h2 {
	font-size:25pt;
	padding-bottom:10px;
	color:#3a252a;
}

#footer {
	clear:both;
	font-size:10pt;
	text-align:center;
	color:gray;
	padding-top:10px;
}

#avatar{
	    withd: 50px;
        height: 100px;	
}

.list-box{
font-size:150%;
border-bottom:3px dotted #999999;
padding:11px;
padding-bottom:20px;
width:730px;
}

.list-box a{
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	display:block;
}

.list-box:hover{
	background:none repeat scroll 0 0 #C0C0C0;
}

.list-count{
background:none repeat scroll 0 0 transparent;
border:0 none;
font-size:170%;
margin:0;
padding:0;
vertical-align:baseline;
}

.list-stat{
float:right;
height:38px;
margin:0 3px 0 0;
padding:5px;
width:48px;
color:#FFFFFF;
margin-top:-33px;
padding:4px 0;
text-align:center;
font-size:50%;
font-weight:bold;
}

.answered{
	background:none repeat scroll 0 0 #75845C;
}

.unanswered{
	background:none repeat scroll 0 0 #9A4444;
}

.user-editbox{
    position:absolute;
    top:59px;
    left:420px;
    padding: 10px;
    border-left: 1px solid black;
    height:80px;
}

.user-editbox input{
	margin:4px;	
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
